@import url("https://fonts.googleapis.com/css2?family=Baloo+Da:wght@400&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-baloo-da: "Baloo Da";

  /* font sizes */
  --font-size-3xs: 10px;
  --font-size-sm: 14px;
  --font-size-lg: 18px;
  --font-size-base: 16px;
  --font-size-xl: 20px;
  --font-size-xs: 12px;
  --font-size-5xl: 24px;

  /* Colors */
  --color-whitesmoke-100: #f9f9f9;
  --color-whitesmoke-200: #f3f4f8;
  --color-gray-100: #fbfcfd;
  --color-foundation-dark-lighter: #99938f;
  --color-foundation-dark-dark: #0a0502;
  --color-gray-200: rgba(10, 5, 2, 0.75);
  --color-gray-300: rgba(153, 147, 143, 0.72);
  --color-gray-400: rgba(132, 125, 121, 0.6);
  --color-gray-500: rgba(255, 255, 255, 0.7);
  --color-foundation-orange-normal: #ff7e3a;
  --color-coral-100: rgba(255, 126, 58, 0.25);
  --color-foundation-orange-light-active: #ffd7c2;
  --color-mediumblue: rgba(0, 76, 255, 0.75);
  --color-foundation-surface-white: #fff;
  --color-black: #000;

  /* Gaps */
  --gap-13xl: 32px;
  --gap-base: 16px;
  --gap-12xl-5: 31.5px;
  --gap-5xl: 24px;
  --gap-9xs: 4px;
  --gap-4xs: 9px;
  --gap-xl: 20px;
  --gap-3xl-5: 22.5px;
  --gap-xs: 12px;
  --gap-mid: 17px;
  --gap-sm: 14px;
  --gap-11xl: 30px;
  --gap-5xs: 8px;
  --gap-84xl: 103px;
  --gap-32xl: 51px;
  --gap-135xl: 154px;
  --gap-58xl: 77px;
  --gap-mini: 15px;
  --gap-lgi: 19px;
  --gap-6xs: 7px;
  --gap-21xl: 40px;
  --gap-35xl: 54px;
  --gap-4xl: 23px;
  --gap-23xl: 42px;
  --gap-27xl: 46px;
  --gap-3xs: 10px;
  --gap-44xl: 63px;
  --gap-12xl: 31px;

  /* Paddings */
  --padding-12xl: 31px;
  --padding-xl: 20px;
  --padding-25xl: 44px;
  --padding-10xl: 29px;
  --padding-base: 16px;
  --padding-lg: 18px;
  --padding-5xl: 24px;
  --padding-3xl: 22px;
  --padding-sm: 14px;
  --padding-49xl: 68px;
  --padding-17xl: 36px;
  --padding-121xl-5: 140.5px;
  --padding-3xs: 10px;
  --padding-13xl: 32px;
  --padding-21xl: 40px;
  --padding-7xl: 26px;
  --padding-2xl: 21px;
  --padding-27xl: 46px;
  --padding-8xs: 5px;
  --padding-83xl: 102px;
  --padding-106xl: 125px;
  --padding-9xl: 28px;
  --padding-47xl: 66px;
  --padding-7xs: 6px;
  --padding-2xs: 11px;
  --padding-smi: 13px;
  --padding-11xs: 2px;
  --padding-9xs: 4px;
  --padding-100xl: 119px;
  --padding-12xs: 1px;
  --padding-5xs: 8px;
  --padding-116xl: 135px;
  --padding-41xl: 60px;
  --padding-133xl: 152px;
  --padding-15xl: 34px;
  --padding-lgi: 19px;
  --padding-base-5: 16.5px;
  --padding-mini: 15px;
  --padding-xs: 12px;
  --padding-11xl: 30px;
  --padding-46xl: 65px;

  /* Border radiuses */
  --br-5xl: 24px;
  --br-base: 16px;
  --br-25xl: 44px;
  --br-xs: 12px;
  --br-7xs: 6px;
  --br-xl: 20px;
  --br-5xs: 8px;
  --br-8xs: 5px;
  --br-mini: 15px;
}
